#piece-o div.tet-group:nth-of-type() {
    order: -3;
}

#piece-o div.tet-group:nth-of-type(5) {
    order: -1;
}

#piece-o div.tet-group div.tet-piece:nth-child(1){
    order: 1;
}

#piece-o div.tet-group div.tet-piece:nth-child(2){
    order: 2;
}